.container {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin: 0;
  background-color:  #E6E7EC;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1C2E52;
  padding: 10px 20px;
}

.header-right,
.header-left {
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: aliceblue;
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  gap: 15px;

}

.user {
  width: 40px;
  height: 40px;
}

.head-text-1,
.head-text-2,
.head-text-3 {
  margin-left: 10px;
}

.body-1 {
    display: flex;
}
.hero-left,
.hero-right {
    width: 50%;
}

.hero-right {
  justify-content: flex-end;
  display: flex;
}
.id-picture {
    width: 420px;
    height: 520px;
    border-radius: 10%;
    margin-top: 5%;
    margin-right: 10%;
}





























/* 📱 MOBILE VIEW */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header-right,
  .header-left {
    width: 100%;
    justify-content: center;
    margin-top: 5px;
  }

  .user {
    width: 35px;
    height: 35px;
  }

  .head-text-1,
  .head-text-2,
  .head-text-3 {
    margin-left: 5px;
    font-size: 0.75rem;
  }
}
