html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin: 0;
  background-color:  #E6E7EC;
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  background-color: #1C2E52;
  padding: 10px 20px;
}

.header-right,
.header-left {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: aliceblue;
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  gap: 15px;

}
.navigation a {
  text-decoration: none;
  padding: 15px;
  color: #E6E7EC;
}

.user {
  width: 40px;
  height: 40px;
}

.head-text-1,
.head-text-2,
.head-text-3 {
  margin-left: 10px;
}

.body-1 {
    display: flex;
}
.hero-left {
    width: 50%;
    
}

.hero-right {
  justify-content: flex-end;
  display: flex;
  width: 50%;
}
.id-picture {
    width: 420px;
    height: 520px;
    border-radius: 10%;
    margin-top: 5%;
    margin-right: 30%;
}

/* HERO LEFT SECTION */
#h1 {
  justify-content: center;
  display: flex;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0%;
}

#h2 {
  margin-top: 0%;
  justify-content: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

#p-text {
  max-width: 400px;
  margin: 0 auto;  
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;

}

#h4 {
  justify-content: center;
  display: flex;
}


/* HERO RIGHT SECTION */

.div-logos {
  width: 100%;
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;
  gap: 20px;                 /* space between logos */
  margin-top: 10px;
}

.logos-img {
  width: 150px;               /* consistent size */
  height: auto;
}


.section-2 {
  margin-bottom: 10%;
}

#what-i-do {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding-left: 15%;
}

.services {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 50px;
}

.card {
  background: white;
  width: 400px;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #1c355e;
  color: white;
  padding: 12px 20px;
  border-radius: 50px;
  margin-bottom: 20px;
}


.icon {
  background: white;
  color: #1c355e;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.card p {
  color: #333;
  line-height: 1.6;
  padding-bottom: 100px;
}

#my-portfolio {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

#container-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.services-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  

}
.image-port {
  width: 70%;
  height: auto;
  margin-left: 5%;
}

.h3-port {
  margin-left: 5%;
}

#portfolio-div {
  margin-left: 5%;
}

.port-li {
  text-decoration: none;
  color: black;
}
footer {
  background-color: #323232;
  margin-bottom: 0;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  padding-top: 100px;
}

.footer-service {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
}
.footer-card {
  background-color: #E6E7EC;
  border-radius: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px;
  height: auto;
  flex-direction: column;
}

.footer-top {
  display: flex;
  align-items: center;
    margin-bottom: 50px;
}

.footer-top h2 {
  margin: 0;
}

.footer-top div {
  margin-left: auto; /* pushes icons to the right */
  

}

#footer-h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

.footer-top i {
  font-size: 30px;
  padding: 10px;
}

.footer-middle {
  display: flex;
  gap: 50%;
  padding-bottom: 20%;
}

.navigation-footer a{
  color:#323232;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}



/*hover*/

.navigation a:hover {
  text-decoration: underline;
}

.port-li:hover {
  text-decoration: underline;
}
.navigation-footer a:hover {
  text-decoration: underline;
}









/* 📱 MOBILE VIEW */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header-right,
  .header-left {
    width: 100%;
    justify-content: center;
    margin-top: 5px;
  }

  .user {
    width: 35px;
    height: 35px;
  }

  .head-text-1,
  .head-text-2,
  .head-text-3 {
    margin-left: 5px;
    font-size: 0.75rem;
  }

  /* HERO SECTION */
  .body-1 {
    flex-direction:column-reverse;
  }
  .hero-left,
  .hero-right {
    width: 100%;
    justify-content: center;
    
  }
  .id-picture {
    margin-right: 0;
  }

  #what-i-do {
    align-items: center;
    display: flex;
    justify-content: center;
     padding-left: 0;
  }
  #services-1 {
    flex-direction: column;
    align-items: center;
    gap:50px;
    }

  #container-3 {
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: center;
    
  }
  .services-2 {
    flex-direction: column;
    align-items: center;
  }
  .image-port {
    width: 70%;
    height: auto;
    margin-left: 15%;
    display: block;
  }

  #portfolio-div {
    margin-right: 5%;
    margin-bottom: 10%;
  }
}
