
:root {
    --text-color: black;
    --background-color: white;
}

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
   background-color: var(--background-color);
    
}

header {
    background-color: lightblue;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header span {
    margin: 10px;
    padding-top: 10px;
    padding: 0;
}



div.left img {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0%;
    padding: 0%;
}    

a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
div.right {
    background-color: lightcoral;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
}

div.about-me {
    background-color: lightgreen;
    width: 100%;
    margin-top: 50px;
    height: auto;
    color: aliceblue;
    border-radius: 5px;
    display: flex;
}

div.hero {
    background-color: lightgrey;
    color: black;
    width: 50%;
    height: 100px;
    margin-top: 20px;
    border-radius: 5px;
}

div.profile-picture {
    background-color: lightpink;
    width: 50%;
    height: 100px;
    margin-top: 20px;
    border-radius: 5px;
}

div.picture img{
  
}

i {
    color: black;
}